
.div-body{
    background-color: black;
}
nav{
    background-color: black;
    color: white;
    border: 3px solid white;
    margin: 2% 2% 0% 2%;
}
nav div{
    height: 100px;
}

nav div ul{
    display: flex;
    list-style: none;
    width: 100%;
    flex-wrap: wrap;
    justify-content: right;
    font-size: smaller;

}
nav div ul li{
    padding: 2%;
    transition: all 1.5s;
}

nav div ul li a{
    color: white;
    text-decoration: none;
}

nav div ul li a:hover{
    color:gray;
}

nav div ul li:hover{
    transform: scale(1.2);
 
}
nav div img{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}   
main{ 
    margin: 2% 5%;
    color: white;
    font-family: 'Montserrat', sans-serif;}

main p {
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}   

h1{
    font-size: 4rem;
    text-align: center;
}

h2{
    font-size: x-large;
    text-align: center;
}
.div-carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.mapa{
    margin: 5%;
}


.cards-obras{
    padding: 2% 2%;
    justify-content:space-between;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}
@media (max-width: 780px){
    .cards-obras{
        justify-content: center;
    }
}

.card-individual{
    margin: 0% 2%;
    justify-content: center;
    background-color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .card-li{
        background-color: grey;
        color: black
    }
    .card-img{
        transition: all 1.2s;
    }
.card-img:hover{
transform: scale(1.5);
}
  
.mi-btn{
    background-color: black;
    color: white;
    border: white solid 3px;
   display: flex;
   justify-content: center;
   align-items: baseline;
   transition: all 1.5s;
}
.card-img{
    margin: 5% 2%;
    border: solid 2px black;
    justify-content: center;
}
.mi-btn:hover{
    transform: scale(1.2);
    background-color: white;
    color: black;
    border: black;
}
.bg-light{
    color: white;
    background-color: grey;
}
.mi-footer{
    background-color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lista-iconos{
    font-size: 1.5rem;
}
.iconos{
    transition: all 1s;
}
.iconos:hover{
    transform: translateX(50px) scale(1.5)
}
iframe{
    margin: 5% 0%;
}
.equipo-padre{
    display: flex;
    justify-content: space-between;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

section h2{
    color: white;
    text-align: center;
    font-size: 2rem;
}